:root{
--bg:#ffffff;
--text:#111111;
--card:#f5f5f5;
}

@media (prefers-color-scheme: dark){

:root{
--bg:#050816;
--text:#ffffff;
--card:#111827;
}

}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:var(--bg);
color:var(--text);
overflow-x:hidden;
transition:.4s;
}

nav{
position:fixed;
top:0;
width:100%;
padding:20px 8%;
display:flex;
justify-content:space-between;
align-items:center;
backdrop-filter:blur(20px);
z-index:1000;
}

.logo{
font-size:28px;
font-weight:bold;
color:#00f7ff;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

nav a{
text-decoration:none;
color:var(--text);
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.hero h1{
font-size:55px;
background:linear-gradient(
90deg,
#00f7ff,
#8a2be2
);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.hero p{
margin-top:15px;
}

.btn{
margin-top:25px;
padding:14px 30px;
border:none;
border-radius:30px;
cursor:pointer;
background:linear-gradient(
90deg,
#00f7ff,
#8a2be2
);

color:white;
}

.section{
padding:100px 8%;
}

.title{
margin-bottom:25px;
font-size:40px;
}

.grid{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:20px;
}

.card{
background:var(--card);
padding:25px;
border-radius:20px;
transition:.4s;
}

.card:hover{
transform:translateY(-10px);
}

footer{
text-align:center;
padding:40px;
}

.cursor{
width:20px;
height:20px;
border:2px solid cyan;
border-radius:50%;
position:fixed;
pointer-events:none;
z-index:9999;
box-shadow:0 0 25px cyan;
}
